/* fonts */
@font-face {
    font-family: 'Dancing Script';
    src: url(../fonts/DancingScript.ttf);
  }
  @font-face {
    font-family: 'Lobster';
    src: url(../fonts/LobsterRegular.ttf);
  }
  /* Header Section */
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 12vh;
    background-color: #121212;
    font-family: 'Lobster';
    font-weight: bold;
  
   }
   .logo a {
    list-style: none;
    text-decoration: none;
  }
   .logo {
    letter-spacing: 3px;
    font-size: 40px;
  }
   .navlink {
    display: flex;
    justify-content: space-around;
    width: 35%;
  }
   .navlink a {
    color: rgb(37, 165, 137);
    text-decoration: none;
    font-family: 'Lobster';
    font-size: 23px;
    letter-spacing: 1px;
    transition: 0.3s;
  }
   .navlink a:hover {
    color: blueviolet;
  }
   .navlink li {
    list-style: none;
  }
  
  /* Header section Finished */

  /* blog section */

  .heading{
     text-align: center;
     background-color: beige;
     font-size: 40px;
     font-weight: bolder;
     letter-spacing:2px;
     padding-top: 10px;
     padding-bottom: 10px;
     font-family: 'Dancing Script';
  }  
     
  img{
    width: 100%;
  }
  .paragraph{
    font-family: cursive;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 26px;
    background-color: beige;
    padding-bottom: 20px;
    padding-top: 20px;
  }
 
  /* Fotter styling */
 footer{ 
    background-color: #121212;
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: whitesmoke;
    font-family: cursive;
  }
  .footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .footer h3{
    font-size: 30px;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 3rem;
  }
  .footer p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
  }
  .socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
      
  }
  .socials li{
    margin: 0 10px;
    
  }
  .socials a{
    text-decoration: none;
    color: rgb(82, 11, 148);
    font-size: 30px;
    }
  .footerbottom{
    text-align: center;
  }